/***************************************
                MAIN BODY
****************************************/
body{
    font-family: 'Oswald', sans-serif;
    background: url(images/biopython_logo_l_opacity1.png) bottom right no-repeat fixed;
    background-size: calc(100% - 170px); 
}
h1{
    font-size: 17px;
    color: #264653;
    padding-left: 40px;
    font-family: 'Montserrat', sans-serif;


}
.main{
    margin-left: 170px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}


/***************************************
                SIDENAV
****************************************/
.sidenav{
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  #a0d6f7;
    overflow-x: hidden;
    padding-top: 100px;
    align-items: center;
    text-align:center;
    border: none;
    outline:none;
}
.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
    border: none;
    background-color:  #a0d6f7;
}
.sidenav a:hover{
    color:  #264653;
    outline:none;
    font-size: 20px;
}
.sidenav a:active{
    outline:none;
}
.sidenav a:link{
    outline:none;
}
/*      DROPDOWN BUTTON     */
.dropdown-container{
    font-size: 17px;
    align-items: center;
    text-align:center;
    display: none;
    padding-left: 8px;
    background-color:  #a0d6f7;
}
.fa-caret-down, .fa-caret-up{
  float: right;
  padding-right: 20px;
  padding-top: 4px;
}
#biopythonlogo{
    width: 97%;
}


/***************************************
                TITLE
****************************************/
#classid, #classname{
    font-size: 40px;
}
#classname{
    color: #FFD43B;
}
#studentid{
    font-size: 30px;
    color: #306998;
}
#city{
    color: #e9c46a;
    padding-left: 8px;
    font-size: 13px;
}


/***************************************
            NAVSECTION
****************************************/
.navsection{
    font-weight: bold;
    font-size: 30px;
    margin-top: 40px;
}
.navsection p{
    font-size: 17px;
    color: #264653;
    padding-left: 40px;
    margin-bottom: -30px;
    line-height: 22px;
}
ul#menu li{
    display:block;
    font-size: 13px;
    color: #737373;
    padding-left: 80px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;

}
#menu{
    line-height: 30px;
    padding-top: -60px;

}
.tools{
    margin-bottom: -25px !important;
}
.modulelist{
    padding-left:15%;
}
#OpenSource a{
    padding-left: 80px;
    font-size: 13px;
    color: #e9c46a;  
}
#challenges{
    overflow:hidden;
    display:block;
}

/***************************************
            LOGOS & LINKS
****************************************/
.github-octicon{
    width: 30px;
    padding-left: 10px;
    vertical-align: middle
}
#user{
    color: #306998 !important; 
    padding-left: 0px !important;
    text-decoration: none;
}
#bio1_73{
    color: #40768c !important; 
    padding-left: 0px !important;
    text-decoration: none;
}
#bio1_73:hover,#user:hover{
    text-decoration: underline;
}


/***************************************
                TOOL TIP
****************************************/
.tooltip{
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext{
  visibility: hidden;
  background-color: #646464;
  width: auto;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px 7px 7px 7px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}
.tooltip:hover .tooltiptext{
    font-size: 15px;
    visibility: visible;
    opacity: 1;
}
.tooltip-arrow{
    opacity: 0;
}


